html,
body {
    margin: 0;
    padding: 0;
    font-size: initial;
    line-height: initial;
}

html {
    box-sizing: border-box;
}

body {
    background: #000 url(../images/background.jpg) repeat;
    font-family: 'Molengo', Verdana, sans-serif;
    font-size: 14px;
    color: #eee;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrap {
	background: rgba(0, 0, 0, 0.6);
	max-width: 660px;
	margin: 20px auto;
	padding: 20px;
}

h1 {
	text-align: center;
	margin: 0;
	font-family: Impact;
	color: #fff;
}

h2 {
	margin: 0;
}

#Score {
	display: inline-block;
	vertical-align: top;
}

canvas {
	display: inline-block;
	margin: 0 10px;
	height: 500px;
    border: 3px outset #f1f1f1;
}

.nextBlock {
	display: inline-block;
}

.nextBlock__img {
	display: inline-block;
	width: 90px;
	height: 90px;
}

.score {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}

img {
	display: none;
	width: 90px;
}

.active {
	display: block;
}