html,
body {
    margin: 0;
    padding: 0;
    font-size: initial;
    line-height: initial;
}

html {
    box-sizing: border-box;
}

body {
    background: #000 url(../images/background.jpg) repeat;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: 0.750em;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrap {
	max-width: 960px;
	margin: 0 auto;
}

#Score {
	position: relative;
}

canvas {
	display: block;
	margin: 0 auto;
	height: 500px;
    border: 3px outset #f1f1f1;
}

img {
	display: none;
	width: 50px;
	height: 50px;
	position: relative;
}

.active {
	display: block;
}